#hero {
    width: 100vw;
    min-height: 100vh;
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow-y: auto;
}

.logo {
    width: 414px;
    max-width: 100%;
}

.title {
    top: 9px;
    font-family: 'Inknut Antiqua', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 101px;
    text-align: center;
    color: #000000;
}

.linea {
    border: 2.5px solid #000000;
    margin-top: -20px;
}

.rules {
    margin-top: 10px;
    font-family: 'Irish Grover', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
}

#menu-wrapper {
    margin-top: auto;
    text-align: center;
}

#menu {
    margin-top: 120px;
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
    height: 359px;
    background: #FF6F61;
    mix-blend-mode: normal;
    border: 10px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s, transform 0.8s, padding-bottom 0.8s, font-size 0.8s;
    width: 100%;
    overflow: hidden;
    height: 12vw;
    border-radius: 50vw 50vw 0 0;
}

#menu:hover {
    transform: scale(130%);
    padding-bottom: 410px;
    font-size: 60px;
}

.label {
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

#category {
    font-family: 'Inknut Antiqua', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    padding: 12px 24px;
    border-radius: 12px;
    background-color: #00BFA3;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 12px;
}

#category:hover {
    background-color: #008370;
}

#start {
    padding: 12px 24px;
    border-radius: 12px;
    background-color: #00BFA3;
    color: white;
    font-family: 'Inknut Antiqua', serif;
    font-size: 32px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 52px;
    height: 80px;
}

#start:hover {
    background-color: #008370;
}

.select-container {
    margin-top: 52px;
    display: flex;
    align-items: center;
    gap: 15px;
}

#Joke {
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FF0000;
    margin-top: 10px;
}

@media screen and (max-width: 642px) {
    #category {
        font-family: 'Inknut Antiqua', serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 49px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
        padding: 0px 0px;
        border-radius: 12px;
        background-color: #00BFA3;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-left: -8px;
        width: 100%;
    }

    .label {
        font-family: 'Inknut Antiqua';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
        margin-left: -10px;
    }
}
